In [2]:
import pandas as pd
from pathlib import Path
from datetime import datetime

In [3]:
sheets_path = Path("/media/user/files/code/imdb/data/sheets")
status_path = sheets_path / "status.csv"
dtypes = {
    "tconst": pd.StringDtype(),
    "watched": pd.BooleanDtype(),
    "priority": pd.BooleanDtype(),
    "netflix": pd.BooleanDtype(),
    "prime": pd.BooleanDtype()}
status = pd.read_csv(status_path, dtype=dtypes,index_col="tconst")

In [9]:
date_scores_path = sheets_path / "date_scores.csv"
dtypes = {
    "tconst": pd.StringDtype(),
    "enjoyment_score": pd.Float32Dtype(),
    "quality_score": pd.Float32Dtype()
    }
date_scores = pd.read_csv(date_scores_path, dtype=dtypes, index_col="tconst", parse_dates=['date'], date_format="%Y-%m-%d")
date_scores

                 date  enjoyment_score  quality_score
tconst
tt0015324  2021-10-25             <NA>           <NA>
tt0022100  2023-01-05              3.0            3.0
tt0081505  2024-04-13             <NA>           <NA>
tt2005151  2023-06-12              5.0            3.0
tt21113540 2025-03-05              3.0            3.0

In [47]:
status

                 date  enjoyment_score  quality_score
tconst
tt0081505  2021-10-25              4.0            4.0
tt2005151  2023-01-05              3.0            3.0
tt21113540 2023-12-09             <NA>           <NA>

## date scores

In [ ]:
"primaryTitle"
"originalTitle"
"startYear"