In [39]:
import pandas as pd
file_path = '/media/user/files/code/imdb/data/downloads/title.ratings.tsv.gz'
dtypes = {"averageRating": pd.Float32Dtype(), "numVotes": pd.Int32Dtype()}

title_ratings = pd.read_csv(
        file_path,
        sep="\t",
        quotechar="\t",
        low_memory=False,
        dtype_backend="pyarrow",
        index_col="tconst",
        dtype=dtypes,
        na_values="\\N",
    )
index = pd.Index(['tt0120737', 'tt0057012', "tt10057012"], dtype='string[pyarrow]', name='tconst')

index_indices = set(index)
title_ratings_indices = set(title_ratings.index)

# get indices that are missing
not_in_title_ratings = index_indices.difference(title_ratings_indices)

# get dataframe subset with indices that exist
index_indices -= not_in_title_ratings
title_ratings_subset = title_ratings.loc[list(index_indices)]

In [40]:
not_in_title_ratings

{'tt10057012'}

In [41]:
title_ratings_subset

           averageRating  numVotes
tconst
tt0057012            8.3    537593
tt0120737            8.9   2107297

In [42]:
import pandas as pd

file_path = '/media/user/files/code/imdb/data/downloads/title.ratings.tsv.gz'
dtypes = {"averageRating": pd.Float32Dtype(), "numVotes": pd.Int32Dtype()}

# Load data
title_ratings = pd.read_csv(
    file_path,
    sep="\t",
    quotechar="\t",
    low_memory=False,
    dtype_backend="pyarrow",
    index_col="tconst",
    dtype=dtypes,
    na_values="\\N",
)

# Define index
index = pd.Index(['tt0120737', 'tt0057012', 'tt10057012'], dtype='string[pyarrow]', name='tconst')

# Get missing indices
not_in_title_ratings = index.difference(title_ratings.index)

# Get subset with existing indices
title_ratings_subset = title_ratings.loc[index.intersection(title_ratings.index)]

In [43]:
not_in_title_ratings

Index(['tt10057012'], dtype='string', name='tconst')

In [44]:
title_ratings_subset

           averageRating  numVotes
tconst
tt0120737            8.9   2107297
tt0057012            8.3    537593

In [ ]:
title_ratings_subset

In [60]:
dups = pd.concat([title_ratings_subset, title_ratings_subset])
# str(list(dups[dups.index.duplicated()].index))
if dups.index.duplicated().any():
    print(str(list(dups[dups.index.duplicated()].index)))

['tt0120737', 'tt0057012']