In [1]:
import pandas as pd

In [18]:
path = "/media/user/files/code/imdb/data/sheets/films_reading.xlsx"
data = pd.read_excel(path)
data = data[["tconst","watched","priority","netflix","prime"]]
data[["watched","priority","netflix","prime"]] = data[["watched","priority","netflix","prime"]].astype(pd.Int64Dtype())
data = data.sort_values("tconst").reset_index(drop=True)
data.to_csv("status.csv", index=False)

In [45]:
path = "/media/user/files/code/imdb/data/sheets/films_reading.xlsx"
data = pd.read_excel(path)
data = data[["tconst", "watched_date", "enjoyment"]].rename(columns={"watched_date": "date", "enjoyment": "enjoyment_score"})
data["quality_score"] = pd.Series()
data

        tconst date  enjoyment_score quality_score
0    tt0108052  NaT              NaN           NaN
1    tt0103064  NaT              NaN           NaN
2    tt0245429  NaT              NaN           NaN
3    tt0114814  NaT              NaN           NaN
4    tt0120586  NaT              NaN           NaN
..         ...  ...              ...           ...
964  tt0255798  NaT              NaN           NaN
965  tt0240515  NaT              NaN           NaN
966  tt0329774  NaT              NaN           NaN
967  tt0368226  NaT              NaN           NaN
968  tt0327554  NaT              NaN           NaN

[969 rows x 4 columns]

In [46]:
datums = data[pd.notnull(data["date"])]
datums.loc[:,"date"] = datums["date"].dt.date
datums

         tconst       date  enjoyment_score quality_score
409   tt0160009 2024-01-09              1.5           NaN
410   tt1340138 2024-01-08              0.0           NaN
411   tt6718170 2024-01-01              2.0           NaN
412  tt12261776 2023-12-31              2.0           NaN
413  tt19883634 2023-12-27              1.0           NaN
..          ...        ...              ...           ...
493  tt11214590 2021-12-15              3.0           NaN
494   tt8847712 2021-12-03              NaN           NaN
495  tt11003218 2021-11-25              3.0           NaN
496   tt7097896 2021-10-25              2.0           NaN
497  tt10288566 2021-10-24              4.0           NaN

[89 rows x 4 columns]

In [58]:
data[pd.notnull(data["enjoyment_score"]) | pd.notnull(data["date"])].sort_values("date", ascending=False).reset_index(drop=True).to_csv("date_scores.csv", index=False)