In [21]:
import os
import numpy as np
import pandas as pd

In [2]:
FILES_IMDB = {
    "tit_bas": "title.basics.tsv",
    "tit_rate": "title.ratings.tsv",
    "name_bas": "name.basics.tsv",
    "tit_prin": "title.principals.tsv",
    "cast_crew": "title.crew.tsv",
}

# Title basics structure

In [3]:
tit_bas_path = os.path.join("data/imdb/",FILES_IMDB['tit_bas'])
tit_bas = pd.read_csv(tit_bas_path,sep='\t', quotechar='\t', low_memory=False)

In [6]:
tit_bas.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [7]:
tit_bas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9658791 entries, 0 to 9658790
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         int64
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: int64(1), object(8)
memory usage: 663.2+ MB

# Title rate structure

In [10]:
tit_rate_path = os.path.join("data/imdb/",FILES_IMDB["tit_rate"])

tit_rate = pd.read_csv(tit_rate_path,sep='\t', quotechar='\t', low_memory=False)

In [13]:
tit_rate.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1956
1  tt0000002            5.8       263
2  tt0000003            6.5      1789
3  tt0000004            5.6       179
4  tt0000005            6.2      2592

In [14]:
tit_rate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1284907 entries, 0 to 1284906
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1284907 non-null  object
 1   averageRating  1284907 non-null  float64
 2   numVotes       1284907 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 29.4+ MB

# name basics

In [17]:
name_bas_path = os.path.join("data/imdb/",FILES_IMDB["name_bas"])

name_bas = pd.read_csv(name_bas_path, sep='\t', low_memory=False)

In [18]:
name_bas.head()

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0072308,tt0045537,tt0053137,tt0050419"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0037382,tt0038355,tt0071877,tt0117057"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,soundtrack,music_department","tt0056404,tt0057345,tt0049189,tt0054452"
3,nm0000004,John Belushi,1949,1982,"actor,soundtrack,writer","tt0077975,tt0078723,tt0072562,tt0080455"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0060827,tt0083922,tt0050986,tt0050976"

In [19]:
name_bas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12342313 entries, 0 to 12342312
Data columns (total 6 columns):
 #   Column             Dtype
---  ------             -----
 0   nconst             object
 1   primaryName        object
 2   birthYear          object
 3   deathYear          object
 4   primaryProfession  object
 5   knownForTitles     object
dtypes: object(6)
memory usage: 565.0+ MB

# cast and crew

In [22]:
cast_crew_path = os.path.join("data/imdb/",FILES_IMDB["cast_crew"])
cast_crew = pd.read_csv(cast_crew_path, sep='\t', low_memory=False)

cast_crew = cast_crew.replace(to_replace = "\\N", value = np.nan)

In [23]:
cast_crew.head()

      tconst  directors writers
0  tt0000001  nm0005690     NaN
1  tt0000002  nm0721526     NaN
2  tt0000003  nm0721526     NaN
3  tt0000004  nm0721526     NaN
4  tt0000005  nm0005690     NaN

In [24]:
cast_crew.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9658791 entries, 0 to 9658790
Data columns (total 3 columns):
 #   Column     Dtype
---  ------     -----
 0   tconst     object
 1   directors  object
 2   writers    object
dtypes: object(3)
memory usage: 221.1+ MB

# title principals

In [25]:
tit_prin_path = os.path.join("data/imdb/",FILES_IMDB["tit_prin"])
tit_prin = pd.read_csv(tit_prin_path, sep='\t', low_memory=True)

In [42]:
tit_prin = tit_prin.replace(to_replace = "\\N", value = np.nan)

In [43]:
tit_prin.head()

,tconst,ordering,nconst,category,job,characters
0,tt0000001,1,nm1588970,self,NaN,"[""Self""]"
1,tt0000001,2,nm0005690,director,NaN,NaN
2,tt0000001,3,nm0374658,cinematographer,director of photography,NaN
3,tt0000002,1,nm0721526,director,NaN,NaN
4,tt0000002,2,nm1335271,composer,NaN,NaN

In [44]:
tit_prin.job.value_counts()

producer                                   3503006
writer                                     1003603
written by                                  516675
creator                                     416304
created by                                  320718
                                            ...
story "The Manifestations of Henry Ort"          1
play "A Very Rich Woman"                         1
original television drama by                     1
play "Les Joies de la famille"                   1
story "The Green Gullabaloo"                     1
Name: job, Length: 38820, dtype: int64

In [45]:
tit_prin.characters[2000:2020]

2000            ["Raffles"]
2001    ["Sherlock Holmes"]
2002           ["Moriarty"]
2003                    NaN
2004    ["Sherlock Holmes"]
2005                    NaN
2006                    NaN
2007    ["Sherlock Holmes"]
2008                    NaN
2009                    NaN
2010                    NaN
2011                    NaN
2012                    NaN
2013                    NaN
2014          ["Mr. Bibbs"]
2015         ["Mrs. Bibbs"]
2016               ["Maid"]
2017     ["Man in Top Hat"]
2018                    NaN
2019                    NaN
Name: characters, dtype: object

In [46]:
tit_prin.category.value_counts()

actor                  12132854
self                    9521115
actress                 9383502
writer                  7675366
director                6350915
producer                3564229
cinematographer         1887340
composer                1863394
editor                  1830378
production_designer      359449
archive_footage          355876
archive_sound              3852
Name: category, dtype: int64

In [49]:
tit_bas.titleType.isna().value_counts()

False    9658791
Name: titleType, dtype: int64

In [50]:
tit_prin.category.isna().value_counts()

False    54928270
Name: category, dtype: int64